<article class="articleListSmall__item">

{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '478x326' %}  
                <a class="articleListSmall__image" href="{{ url(article) }}">
                <img src="{{ url(rendition) }}" alt="{{ media.body }}" width="90" /></a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endgimmelist %}

                <h4 class="articleListSmall__headline"><a href="{{ url(article) }}">{{ article.title }}</a></h4>
                <div class="articleMetadata">
                  <span class="articleMetadata__byline">by <a href="{{ url(article) }}">{{ article.metadata.byline }}</a></span>
                </div>
              </article>
