<article class="articleListSmall__item">

{% set imgCaption = "Default image" %}
{% set rend610 = "/public/img/article_img/610x380.png" %}

{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
{% set imgCaption = media.body %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '610x380' %}  
        {% set rend610 = path(rendition) %}     
      {% endif %}      
    {% endfor %}
  {% endif %}
{% endgimmelist %}

                <a class="articleListSmall__image" href="{{ url(article) }}"><img src="{{ rend610 }}" alt="{{ imgCaption }}" width="90" height="56" /></a>

                <h4 class="articleListSmall__headline"><a href="{{ url(article) }}">{{ article.title }}</a></h4>
                <div class="articleMetadata">
                  <span class="articleMetadata__byline">by <a href="{{ url(article) }}">{{ article.metadata.byline }}</a></span>
                </div>
              </article>
