<article class="articleListSmall__item">

    {% set imgCaption = "Default image" %}
    {% set rend610 = "{{ asset('theme/img/article_img/610x380.png') }}" %}

    {% include 'partials/image610x380.html.twig' with {'imgCaption' : imgCaption, 'rend610' : rend610, 'where' : 'listSmall' } %}

    <h4 class="articleListSmall__headline"><a href="{{ url(article) }}">{{ article.title }}</a></h4>
    <div class="articleMetadata">
        <span class="articleMetadata__byline">by <a href="{{ url(article) }}">{{ article.metadata.byline }}</a></span>
    </div>
</article>
