<article class="articleGrid__item {{ class }}">
                <a class="articleGrid__image articleGrid__image--smallMobile" href="{{ url(article) }}">
                  <figure>

{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '478x326' %}  
                    <img src="{{ path(rendition) }}" alt="{{ media.body }}" width="290" height="180" />
      {% endif %}
    {% endfor %}
  {% endif %}
{% endgimmelist %}

                  </figure>
                </a>
                <a href="{{ url(article) }}">
                  <span class="articleGrid__kicker">Lorem ipsum</span>
                  <h3 class="articleGrid__headline">{{ article.title }}</h3>
                </a>
                <p class="articleGrid__text">{% if foo is empty %}
                    {{ article.body|striptags|safeTruncate(160,"...") }}
                  {%else%}
                    {{ article.lead|striptags|safeTruncate(160,"...") }}
                  {%endif%}</p>
                <div class="articleMetadata">
                  <span class="articleMetadata__byline">by <a href="{{ url(article) }}">{{article.metadata.byline}}</a></span>
                  <a class="articleMetadata__shares articleMetadata__info" href="#">240</a>
                  <a class="articleMetadata__comments articleMetadata__info" href="#">20</a>
                </div>
              </article>
