<article class="mainArticle {{class}}">

            <figure class="mainArticle__image {% if image =='small' %}mainArticle__image--small{% endif %} ">

{# this is temporary logic to ensure theme uses existing rendtions if appropriate sized crops are not available #}

{% set imgCaption = "" %}
{% set rend770 = "/public/img/article_img/1250x600.png" %}
{% set rend610 = "" %}
{% set rend930 = "" %}

{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
{% set imgCaption = media.body %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '770x515' %} 
        {% set rend770 = path(rendition) %}
      {% endif %}
      {% if rendition.name == '610x380' %} 
        {% set rend610 = path(rendition) %}
      {% endif %}   
      {% if rendition.name == '930x450' %} 
        {% set rend930 = path(rendition) %}
      {% endif %}         
    {% endfor %}
  {% endif %}
{% endgimmelist %}

{% if rend610 == "" %}{% set rend610 = rend770 %}{% endif %}
{% if rend930 == "" %}{% set rend930 = rend770 %}{% endif %}

              <a href="{{ url(article) }}">
                {% if image=='small' %}
                  <img src="{{ rend610 }}" alt="{{ imgCaption }}" width="610" height="380" }}">
                {% else %}
                  <img src="{{ rend930 }}" alt="{{ imgCaption }}" width="930" height="450" }}">
                {% endif %}
              </a>

            </figure>
          <div class="mainArticle__text ">
            <a href="{{ url(article) }}">
              <span class="mainArticle__kicker">Lorem ipsum</span>
              <h2 class="mainArticle__headline">{{ article.title }}</h2>
            </a>
            {% if deck!='none' %}
            <div class="mainArticle__teaser">
              <p>{% if foo is empty %}
                    {{ article.body|striptags|safeTruncate(200,"...") }}
                  {%else%}
                    {{ article.lead|striptags|safeTruncate(200,"...") }}
                  {%endif%}</p>
            </div>
          {% endif %}
            <div class="articleMetadata">
              <span class="articleMetadata__byline articleMetadata__byline--white">by <a href="#">{{article.metadata.byline}}</a></span>
              <a class="articleMetadata__shares articleMetadata__info articleMetadata__info--white" href="#">240</a>
              <a class="articleMetadata__comments articleMetadata__info articleMetadata__info--white" href="#">20</a>
            </div>
          </div>
        </article>
