{#
  Parameters:
    * currentFilters (array) : associative array that contains the current route-arguments
    * currentPage (int) : the current page you are in
    * paginationPath (string) : the route name to use for links
    * lastPage (int) : represents the total number of existing pages
#}
{% spaceless %}

    {% if lastPage > 1 %}
      <div class="pagination">
        <ul>
            {% if currentPage > 1 %}

            <li class="pagination__arrows"><a href="{{ path(paginationPath, currentFilters|merge({page: currentPage-1})) }}">«</a></li>
            {% endif %}

            {% for i in 1..lastPage %}

                {%if i == currentPage %}
                  <li class="active"><span>{{i}}</span></li>
                {% else %}
                <li><a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}">{{i}}</a></li>
              {% endif %}
            {% endfor %}



            {% if currentPage < lastPage %}

            <li class="pagination__arrows"><a href="{{ path(paginationPath, currentFilters|merge({page: currentPage+1})) }}">»</a></li>

            {% endif %}
        </ul>
      </div>
    {% endif %}

{% endspaceless %}
