 <article>
   <h3><a href="{{ url(article) }}">{{ article.title }}</a></h3>
   <span class="meta">{% if article.metadata.byline %} by <strong>{{ article.metadata.byline }}</strong> {% endif %}<em>{{ article.publishedAt|date("d.m.Y") }}</em></span>

  <figure>
 {% gimmelist media from articleMedia with {'article': article} %}
   {% if media.renditions is iterable %}
     {% for rendition in media.renditions %}
       {% if rendition.name == '600x300' %}
   <img src="{{ url(rendition) }}" alt="{{ media.body }}" />
   <figcaption>{{ media.body }}</figcaption>
       {% endif %}
     {% endfor %}
   {% endif %}
 {% endgimmelist %}
 </figure>

  <p>{{ article.lead|striptags|safeTruncate(400,'...') }}</p>
  <a href="{{ url(article) }}" class="button smaller">Read more</a>
</article>
