{% gimme contentList with {'contentListId': listId} %}
  <div class="accordion__section">
    <a class="accordion__sectionTitle {% if contentList.name == "Most read" %}active{% endif %}" href="#accordion-{{ listId }}">{{ contentList.name }}</a>
    <div id="accordion-{{ listId }}" class="accordion__sectionContent">

{% cache 'contentlist' ~ contentList.id { time: contentList.cacheLifeTime ?: 0 } %}
    {% gimmelist item from contentListItems|limit(5) with { contentListId: listId } %}
    
    <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="{{ url(item.content) }}">{{ item.content.title }}</a></h4>
        <span class="accordion__sectionCount">120.406 views</span>
    </article>

    {% endgimmelist %}
{% endcache %}

    </div>
  </div>
{% endgimme %}
