{% set version = '1478179342852' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Daily News Theme for Superdesk Publisher{% endblock %}</title>
  <meta name="author" content="Sourcefabric">

  <meta name="description" content="Superdesk Publisher is state of the art publishing system.">
  <meta name="keywords" content="Superdesk, Sourcefabric, open source, media, journalism">

 {#  <!-- RSS & Pingback -->
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/en/static/rss/"> #}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ asset('theme/img/favicon.ico') }}">

  <link rel="stylesheet" href="{{ asset('theme/dist/style.css') }}" />

</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>



  <div class="topBar">
    <div class="container">
      <div class="row">

        <div class="topBar__weather col-sm-3 col-md-3 col-xs-3">
          <p>22° Belgrade</p>
        </div>

        <div class="topBar__links col-sm-7 col-md-7 col-xs-7">
          <ul>
            <li><a href="#">Login/Register</a></li>
            <li><a href="#">Language: English</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Other links</a></li>
          </ul>
        </div>

        <div class="topBar__social col-sm-2 col-md-2 col-xs-2">
          <ul>
            <li><a href="#"><img src="{{ asset('theme/img/social-fb.svg') }}"></a></li>
            <li><a href="#"><img src="{{ asset('theme/img/social-tw.svg') }}"></a></li>
            <li><a href="#"><img src="{{ asset('theme/img/social-yt.svg') }}"></a></li>
            <li><a href="#"><img src="{{ asset('theme/img/social-rss.svg') }}"></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <header class="header">

    <div class="container">

      <div class="row">

        <div class="verticalMiddle col-md-5 col-sm-5 col-xs-12">
          <a class="header__logo" href="./"><img src="{{ asset('theme/img/logo.svg') }}"></a>
        </div>

        <div class="header__search verticalMiddle col-sm-7 col-md-7 col-xs-12">
          <form id="search" name="search_articles" method="GET" action="/search">
            <input type="text" name="q" placeholder="search" value="">
            <button type="submit">Submit</button>
          </form>
        </div>

      </div>

    </div>

  </header>

{% container 'mainNav' %}

{# Content of this container is defined by menu widget which is linked to it. Template used for this menu is widgets/menu1.html.twig #}

{% endcontainer %}

  <div class="trendingTopics">
    <div class="container">
      <div class="okayNav-header">
            <nav role="navigation" id="topics" class="okayNav">
                <ul class="trendingTopics__items">
            <li>Trending topics</li>
            <li><a href="#">Turkey coup</a></li>
            <li><a href="#">Rio 2016 Olympics</a></li>
            <li><a href="#">Brexit</a></li>
            <li><a href="#">US elections</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </div>


{% block body %}{% endblock %}

<!-- Footer -->

<footer class="footer marginTop30">
  <div class="container">
    <div class="row">

      <div class="footer__logo col-md-3 col-sm-3 col-xs-12">
        <a href="#"><img src="{{ asset('theme/img/logo-white.svg') }}"></a>
      </div>

{% container 'footerNav' %}

{# Content of this container is defined by menu widget which is linked to it. Template used for this menu is widgets/menu2.html.twig #}

{% endcontainer %}      

      <div class="footer__section col-sm-2 col-md-2 col-xs-12">
        <h4 class="footer__sectionHeadline">Social</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Youtube</a></li>
          <li><a href="#">Google+</a></li>
        </ul>
      </div>

      <div class="footer__subscribe col-sm-3 col-md-3 col-xs-12">
        <h4 class="footer__sectionHeadline">Subscribe</h4>

        <div class="footer__subscribeForm">
          <form class="form" method="get" action="/register">
            <input type="text" name="proposed_email" placeholder="Your email">
            <button class="footer__subscribeButton button button--blue" type="submit">Send</button>
          </form>
        </div>

        <div class="footer__text">
          <p>© 2016 Sourcefabric All Rights Reserved <br>
          <a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></p>
        </div>

      </div>



    </div>
  </div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ asset('theme/dist/all.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
$('#nav-main').okayNav();
$('#topics').okayNav();

  function close_accordion_section() {
    jQuery('.accordion .accordion__sectionTitle').removeClass('active');
    jQuery('.accordion .accordion__sectionContent').slideUp(300).removeClass('open');
  }

  jQuery('.accordion__sectionTitle').click(function(e) {
    // Grab current anchor value
    var currentAttrValue = jQuery(this).attr('href');

    if(jQuery(e.target).is('.active')) {
      close_accordion_section();
    }else {
      close_accordion_section();

      // Add active class to section title
      jQuery(this).addClass('active');
      // Open up the hidden content panel
      jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open'); 
    }

    e.preventDefault();
  });

});
</script>

  </body>
  </html>
