{% set version = '1486046430781' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Daily News Theme for Superdesk Publisher{% endblock %}</title>
  <meta name="author" content="Sourcefabric">

  <meta name="description" content="Superdesk Publisher is state of the art publishing system.">
  <meta name="keywords" content="Superdesk, Sourcefabric, open source, media, journalism">

  <meta name="google-site-verification" content="uJB4D5iTxa0pKz2QP1XiHFwa3lFd2F0oTcHd-bHpU2U" />

 <!-- RSS & Pingback -->
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ url('rss') }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/public/img/icons/favicon.ico" />

  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

  <link rel="stylesheet" href="/public/dist/style.css" />


</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script>(function() {
    var cx = '001959388472599317396:-zwezp41wak';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();</script>

  <div class="topBar">
    <div class="container">
      <div class="row">

        <div class="topBar__weather col-sm-3 col-md-3 col-xs-12">
          <p><img src="" class="weather-icon" alt="Weather Icon" /><span class="weather-temperature"></span>, <span class="weather-place"></span></p>
        </div>

        <div class="topBar__links col-sm-6 col-md-6 col-xs-5 hidden-xs">
          <ul>
            {% gimmelist article from articles with {'route' : '/about' } %}
            <li><a href="{{ url(article) }}">{{ article.title }}</a></li>
            {% endgimmelist %}
          </ul>
        </div>

        <div class="topBar__social col-sm-3 col-md-3 col-xs-6 hidden-xs">
          <ul>
            <li><a href="https://www.facebook.com/Superdesk/"><img src="{{ asset('theme/img/social-fb.svg') }}"></a></li>
            <li><a href="https://twitter.com/Sourcefabric"><img src="{{ asset('theme/img/social-tw.svg') }}"></a></li>
            <li><a href="https://www.youtube.com/user/Sourcefabric"><img src="{{ asset('theme/img/social-yt.svg') }}"></a></li>
            <li><a href="{{ url('rss') }}"><img src="{{ asset('theme/img/social-rss.svg') }}"></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <header class="header">

    <div class="container">

      <div class="row">

        <div class="verticalMiddle col-md-5 col-sm-5 col-xs-12">
          <a class="header__logo" href="{{ url('home') }}"><img src="public/img/logo.svg"></a>
        </div>

        <div class="header__search verticalMiddle col-sm-7 col-md-7 col-xs-12">
        
          <!--form id="search" name="search_articles" method="GET" action="/search">
            <input type="text" name="q" placeholder="search" value="">
            <button type="submit">Submit</button>           
          </form-->
        
        <gcse:searchbox-only></gcse:searchbox-only>
        </div>

      </div>

    </div>

  </header>

{% container 'mainNav' %}

{# Content of this container is defined by menu widget which is linked to it. Template used for this menu is widgets/menu1.html.twig #}

{% endcontainer %}

  <div class="trendingTopics">
    <div class="container">
      <div class="okayNav-header">
        <nav role="navigation" id="topics" class="okayNav">
          <ul class="trendingTopics__items">
            <li>Trending authors</li>
            <li><a href="{{ url('trending') }}?by=John+Smith">John Smith</a></li>
            <li><a href="{{ url('trending') }}?by=George+Langsamer">George Langsamer</a></li>
            <li><a href="{{ url('trending') }}?by=Jane+Stockwriter">Jane Stockwriter</a></li>    
          </ul>
        </nav>
      </div>
    </div>
  </div>

{% block body %}{% endblock %}

<!-- Footer -->

<footer class="footer marginTop30">
  <div class="container">
    <div class="row">

      <div class="footer__logo col-md-3 col-sm-3 col-xs-12">
        <a href="{{ url('home') }}"><img src="public/img/logo-white.svg"></a>
      </div>

{% container 'footerNav' %}

<!-- Content of this container is defined by menu widget which is linked to it. Template used for this menu is widgets/menu2.html.twig -->

{% endcontainer %}      

      <div class="footer__section col-sm-2 col-md-2 col-xs-12">
        <h4 class="footer__sectionHeadline">Social</h4>
        <ul>
          <li><a href="https://www.facebook.com/Superdesk/">Facebook</a></li>
          <li><a href="https://twitter.com/Sourcefabric">Twitter</a></li>
          <li><a href="https://www.youtube.com/user/Sourcefabric">Youtube</a></li>
          <li><a href="https://plus.google.com/+SourcefabricOrgHQ">Google+</a></li>
        </ul>
      </div>

      <div class="footer__subscribe col-sm-3 col-md-3 col-xs-12">
        <h4 class="footer__sectionHeadline">Subscribe</h4>

        <div class="footer__subscribeForm">
          <form class="form" method="get" action="/register">
            <input type="text" name="proposed_email" placeholder="Your email">
            <button class="footer__subscribeButton button button--blue" type="submit">Send</button>
          </form>
        </div>

        <div class="footer__text">
          <p>© 2017 Sourcefabric All Rights Reserved <br>
          <a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></p>
        </div>

      </div>

    </div>
  </div>
</footer>

  <script src="/public/dist/all.js"></script>

<script id="dsq-count-scr" src="//superdeskdailynews.disqus.com/count.js" async></script>

<script type="text/javascript">
// Weather script: https://github.com/michael-lynch/open-weather

    $(function() {
      $('.weather-temperature').openWeather({
        key: 'ffccf64d91c2144d8018e8c5fc4a2e0d',
        city: 'Belgrade',
        units: 'c',
        descriptionTarget: '.weather-description',
        minTemperatureTarget: '.weather-min-temperature',
        maxTemperatureTarget: '.weather-max-temperature',
        placeTarget: '.weather-place',
        iconTarget: '.weather-icon',
        customIcons: '{{ asset('/public/img/icons/weather/') }}',
        success: function() {
          $('.topBar__weather').show();
        },
        error: function() {
          console.log("These aren't the droids you're looking for.");
        }
      });
      
    });
</script>

  </body>
  </html>
